In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

## Reading the data

In [75]:
d=pd.read_csv('covid.csv')

## To view all data

In [76]:
d

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
18322,18323,04/24/2020,Wyoming,US,2020-04-25 06:31:19,473.0,7.0,0.0
18323,18324,04/24/2020,Xinjiang,Mainland China,2020-04-25 06:31:19,76.0,3.0,73.0
18324,18325,04/24/2020,Yukon,Canada,2020-04-25 06:31:19,11.0,0.0,0.0
18325,18326,04/24/2020,Yunnan,Mainland China,2020-04-25 06:31:19,185.0,2.0,180.0
18326,18327,04/24/2020,Zhejiang,Mainland China,2020-04-25 06:31:19,1268.0,1.0,1256.0

## To check how many rows and columns

In [77]:
d.shape

(18327, 8)

## To print fields name

In [78]:
d.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

## To check the data type of attributes

In [79]:
d.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

## To check is there any missing value

In [80]:
d.isnull()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
18322,False,False,False,False,False,False,False,False
18323,False,False,False,False,False,False,False,False
18324,False,False,False,False,False,False,False,False
18325,False,False,False,False,False,False,False,False
18326,False,False,False,False,False,False,False,False

In [81]:
d.isnull().sum()

SNo                   0
ObservationDate       0
Province/State     9277
Country/Region        0
Last Update           0
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

## Total number of null values in a dataset

In [82]:
d.isnull().sum().sum()

9277

## To print top 10 records

In [83]:
d.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

## To print bottom 10 records

In [84]:
d.tail(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
18317,18318,04/24/2020,Virginia,US,2020-04-25 06:31:19,11594.0,411.0,0.0
18318,18319,04/24/2020,Washington,US,2020-04-25 06:31:19,12977.0,722.0,0.0
18319,18320,04/24/2020,West Virginia,US,2020-04-25 06:31:19,1010.0,32.0,0.0
18320,18321,04/24/2020,Western Australia,Australia,2020-04-25 06:31:19,548.0,8.0,340.0
18321,18322,04/24/2020,Wisconsin,US,2020-04-25 06:31:19,5356.0,263.0,0.0
18322,18323,04/24/2020,Wyoming,US,2020-04-25 06:31:19,473.0,7.0,0.0
18323,18324,04/24/2020,Xinjiang,Mainland China,2020-04-25 06:31:19,76.0,3.0,73.0
18324,18325,04/24/2020,Yukon,Canada,2020-04-25 06:31:19,11.0,0.0,0.0
18325,18326,04/24/2020,Yunnan,Mainland China,2020-04-25 06:31:19,185.0,2.0,180.0
18326,18327,04/24/2020,Zhejiang,Mainland China,2020-04-25 06:31:19,1268.0,1.0,1256.0

## print information of a dataset

In [85]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18327 entries, 0 to 18326
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              18327 non-null  int64
 1   ObservationDate  18327 non-null  object
 2   Province/State   9050 non-null   object
 3   Country/Region   18327 non-null  object
 4   Last Update      18327 non-null  object
 5   Confirmed        18327 non-null  float64
 6   Deaths           18327 non-null  float64
 7   Recovered        18327 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 1.1+ MB

## To show unique values

In [86]:
d.nunique()

SNo                18327
ObservationDate       94
Province/State       297
Country/Region       220
Last Update         1835
Confirmed           3787
Deaths              1070
Recovered           1557
dtype: int64

## Drop the columns which not required

In [87]:
d

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
18322,18323,04/24/2020,Wyoming,US,2020-04-25 06:31:19,473.0,7.0,0.0
18323,18324,04/24/2020,Xinjiang,Mainland China,2020-04-25 06:31:19,76.0,3.0,73.0
18324,18325,04/24/2020,Yukon,Canada,2020-04-25 06:31:19,11.0,0.0,0.0
18325,18326,04/24/2020,Yunnan,Mainland China,2020-04-25 06:31:19,185.0,2.0,180.0
18326,18327,04/24/2020,Zhejiang,Mainland China,2020-04-25 06:31:19,1268.0,1.0,1256.0

In [88]:
d.drop(['SNo'],axis=1,inplace=True)
d

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...
18322,04/24/2020,Wyoming,US,2020-04-25 06:31:19,473.0,7.0,0.0
18323,04/24/2020,Xinjiang,Mainland China,2020-04-25 06:31:19,76.0,3.0,73.0
18324,04/24/2020,Yukon,Canada,2020-04-25 06:31:19,11.0,0.0,0.0
18325,04/24/2020,Yunnan,Mainland China,2020-04-25 06:31:19,185.0,2.0,180.0
18326,04/24/2020,Zhejiang,Mainland China,2020-04-25 06:31:19,1268.0,1.0,1256.0

## To check is there any duplicated value

In [89]:
d.duplicated().sum()

0

## Rename columns

In [90]:
d.rename(columns={"Province/State":"State","Country/Region":"Country"},inplace=True)
d

,ObservationDate,State,Country,Last Update,Confirmed,Deaths,Recovered
0,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...
18322,04/24/2020,Wyoming,US,2020-04-25 06:31:19,473.0,7.0,0.0
18323,04/24/2020,Xinjiang,Mainland China,2020-04-25 06:31:19,76.0,3.0,73.0
18324,04/24/2020,Yukon,Canada,2020-04-25 06:31:19,11.0,0.0,0.0
18325,04/24/2020,Yunnan,Mainland China,2020-04-25 06:31:19,185.0,2.0,180.0
18326,04/24/2020,Zhejiang,Mainland China,2020-04-25 06:31:19,1268.0,1.0,1256.0

## To show unique values

In [91]:
d.nunique()

ObservationDate      94
State               297
Country             220
Last Update        1835
Confirmed          3787
Deaths             1070
Recovered          1557
dtype: int64

## To print statistical information

In [19]:
d.describe()

           Confirmed        Deaths      Recovered
count   18327.000000  18327.000000   18327.000000
mean     3030.015551    180.680417     764.542424
std     15129.079515   1362.099905    5618.658958
min         0.000000      0.000000       0.000000
25%         9.000000      0.000000       0.000000
50%       101.000000      1.000000       2.000000
75%       674.500000      8.000000      71.000000
max    271590.000000  25969.000000  109800.000000

In [20]:
d.mean()

Confirmed    3030.015551
Deaths        180.680417
Recovered     764.542424
dtype: float64

In [21]:
d.corr()

           Confirmed    Deaths  Recovered
Confirmed   1.000000  0.899834   0.660188
Deaths      0.899834  1.000000   0.564944
Recovered   0.660188  0.564944   1.000000

In [22]:
d.cov()

              Confirmed        Deaths     Recovered
Confirmed  2.288890e+08  1.854317e+07  5.611938e+07
Deaths     1.854317e+07  1.855316e+06  4.323619e+06
Recovered  5.611938e+07  4.323619e+06  3.156933e+07

## Statistic figures

In [23]:
d['Confirmed'].count()

18327

In [24]:
d['Confirmed'].mean()

3030.0155508266494

In [25]:
d['Confirmed'].min()

0.0

In [26]:
d['Confirmed'].max()

271590.0

In [27]:
d['Deaths'].min()

0.0

In [28]:
d['Deaths'].count()

18327

In [29]:
d['Deaths'].max()

25969.0

In [30]:
d['Deaths'].mean()

180.6804168712828

## To count number of categories

In [32]:
d['Confirmed'].value_counts()

1.0        1585
2.0         706
3.0         486
4.0         328
5.0         314
           ...
11730.0       1
4057.0        1
6343.0        1
1375.0        1
5356.0        1
Name: Confirmed, Length: 3787, dtype: int64

In [33]:
d['Deaths'].value_counts()

0.0        8097
1.0        1930
2.0        1035
3.0         791
6.0         583
           ...
16606.0       1
887.0         1
1101.0        1
9875.0        1
722.0         1
Name: Deaths, Length: 1070, dtype: int64

In [44]:
d['Recovered'].value_counts()

0.0        7833
1.0        1245
2.0         658
4.0         351
3.0         313
           ...
24392.0       1
592.0         1
1321.0        1
429.0         1
99079.0       1
Name: Recovered, Length: 1557, dtype: int64

## Maximum number of deaths of each country

In [126]:
d.copy()
c=d.pivot_table('Deaths',columns='Country',aggfunc='max')
c

Country,Azerbaijan,"('St. Martin',)",Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Uzbekistan,Vatican City,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe,occupied Palestinian territory
Deaths,0.0,0.0,43.0,27.0,415.0,40.0,2.0,3.0,176.0,27.0,...,8.0,0.0,10.0,0.0,4.0,0.0,0.0,3.0,4.0,0.0

## Maximum number of corfirmed cases of each country

In [51]:
d1=d.copy()
d1=d.pivot_table('Confirmed',columns='Country',aggfunc='max')
d1

Country,Azerbaijan,"('St. Martin',)",Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Uzbekistan,Vatican City,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe,occupied Palestinian territory
Confirmed,1.0,2.0,1351.0,678.0,3127.0,731.0,25.0,24.0,3607.0,1596.0,...,1804.0,1.0,318.0,270.0,484.0,6.0,1.0,84.0,29.0,25.0

## Maximum number of recovered cases of each country

In [52]:
d.copy()
d=d.pivot_table('Recovered',columns='Country',aggfunc='max')
d

Country,Azerbaijan,"('St. Martin',)",Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Uzbekistan,Vatican City,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe,occupied Palestinian territory
Recovered,0.0,0.0,188.0,394.0,1408.0,344.0,6.0,11.0,976.0,728.0,...,621.0,0.0,132.0,224.0,92.0,5.0,1.0,37.0,2.0,0.0

## total no: of deaths of each country

In [64]:
d=d.groupby(['Country'])['Recovered'].sum()
d=pd.DataFrame(d)

In [65]:
d

                                Recovered
Country
 Azerbaijan                           0.0
('St. Martin',)                       0.0
Afghanistan                        1598.0
Albania                            5552.0
Algeria                           14989.0
...                                   ...
Western Sahara                       10.0
Yemen                                 1.0
Zambia                              528.0
Zimbabwe                             18.0
occupied Palestinian territory        0.0

[220 rows x 1 columns]

## Top 10 countries having maximum confirmed cases

In [127]:
v_d=pd.pivot_table(data=d[['Country','Confirmed']],
                            index=['Country'],
                            values='Confirmed',
                            aggfunc='max')
v_d.sort_values(by='Confirmed',ascending=False).head(10)

                Confirmed
Country
US               271590.0
Spain            219764.0
Italy            192994.0
France           158636.0
Germany          154999.0
UK               143464.0
Turkey           104912.0
Iran              88194.0
Russia            68622.0
Mainland China    68128.0

## Top 10 countries having maximum death cases

In [118]:
country_deaths_d=pd.pivot_table(data=d[['Country','Deaths']],
                            index=['Country'],
                            values='Deaths',
                            aggfunc='max')
country_deaths_d.sort_values(by='Deaths',ascending=False).head(10)

                 Deaths
Country
Italy           25969.0
Spain           22524.0
France          22245.0
US              21411.0
UK              19506.0
Belgium          6679.0
Germany          5760.0
Iran             5574.0
Mainland China   4512.0
Netherlands      4289.0

## Top 10 countries having maximum recovered cases

In [112]:
country_recovered_d=pd.pivot_table(data=d[['Country','Recovered']],
                            index=['Country'],
                            values='Recovered',
                            aggfunc='max')
country_recovered_d.sort_values(by='Recovered',ascending=False).head(10)

                Recovered
Country
Germany          109800.0
US                99079.0
Spain             92355.0
Iran              66599.0
Mainland China    64435.0
Italy             60498.0
France            43493.0
Brazil            27655.0
Turkey            21737.0
Switzerland       21000.0

## Top countries having total no:of confirmed case

In [133]:
n=d.groupby('Country').Confirmed.sum().sort_values(ascending=False)
n

Country
US                       14592049.0
Mainland China            6148522.0
Italy                     4936614.0
Spain                     4735954.0
Germany                   3574181.0
                            ...
Cape Verde                      1.0
North Ireland                   1.0
The Gambia                      1.0
Republic of the Congo           1.0
 Azerbaijan                     1.0
Name: Confirmed, Length: 220, dtype: float64

In [134]:
n.head()

Country
US                14592049.0
Mainland China     6148522.0
Italy              4936614.0
Spain              4735954.0
Germany            3574181.0
Name: Confirmed, dtype: float64